In [3]:
import pandas as pd

In [4]:
# ideas: 
# feature engineering, crear campos: año de convocatoria, diff entre 1a lista y nota final, porcentaje de bajada, ciudad, comunidad, 
# numero de listas o convocatorias que han habido por universidad, diferencia de notas entre años

# limpieza: quitar columnas de sobre 10, concatenar todas las particiones de años, nombres de universidades, columnas, asegurar fechas correctas, 
# todas las notas con el mismo numero de decimales

# modelo: predecir la nota (a través de un rango, con una tolerancia que defina) para el año 2022-2023 estudiando los datos de años anteriores. 
# Predecir también la probabilidad de que entres en una universidad u otra en funcion de la nota que hayas sacado en una convocatoria anterior
# adicionalmente, tener en cuenta que la metodologia del examen cambió por el COVID

# visualizacion: mapa geografico de españa, con un mapa de calor por la probabilidad o por la nota mas alta y mas baja
# visualizacion de datos historicos a traves de un grafico de linea
# crecimiento con los años
# front end que se pueda filtrar por universidad, convocatoria o nota final,

In [5]:
# input data from different years

df_2010_2011 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2010_2011 - Hoja 1.csv')
df_2011_2012 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2011_2012 - Hoja 1.csv')
df_2012_2013 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2012_2013 - Hoja 1.csv')
df_2013_2014 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2013_2014 - Hoja 1.csv')
df_2014_2015 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2014_2015 - Hoja 1.csv')
df_2015_2016 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2015_2016 - Hoja 1.csv')
df_2016_2017 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2016_2017 - Hoja 1.csv')
df_2017_2018 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2017_2018 - Hoja 1.csv')
df_2018_2019 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2018_2019 - Hoja 1.csv')
df_2019_2020 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2019_2020 - Hoja 1.csv')
df_2020_2021 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2020_2021 - Hoja 1.csv')
df_2021_2022 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2021_2022 - Hoja 1.csv')

In [6]:
list_of_dfs = [df_2010_2011, df_2011_2012, df_2012_2013, df_2013_2014, df_2014_2015, df_2015_2016, df_2016_2017, df_2017_2018, df_2018_2019, df_2019_2020, df_2020_2021, df_2021_2022]
num_years = len(list_of_dfs)

In [7]:
df_2010_2011.head()

,Notas de corte de Medicina,Última fecha de admisión \n(Fecha de la nota final),Nota de corte final de Medicina,1ª Lista,Sobre 10,2ª Lista,Sobre 10.1,3ª Lista,Sobre 10.2,4ª Lista,...,16ª Lista,Sobre 10.15,17ª Lista,Sobre 10.16,18ª Lista,Sobre 10.17,19ª lista,Sobre 10.18,20ª lista,Sobre 10.19
0,Universidad de Lérida,8/11/2010,"11,04","11,654","8,324","11,296","8,069","11,249","8,035","11,21",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Gerona,8/11/2010,"11,07","11,61","8,293","11,305","8,075","11,259","8,042","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","8,363","11,334","8,096","11,33","8,093","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","8,614","11,975","8,554","11,88","8,486","11,767",...,"11,211","8,008","11,203","8,002","11,203","8,002","11,196","7,997","11,19","7,993"
4,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","8,279","11,34","8,1","11,304","8,074","11,304",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_2010_2011.columns

Index(['Notas de corte de Medicina',
       'Última fecha de admisión \n(Fecha de la nota final)',
       'Nota de corte final de Medicina', '1ª Lista', 'Sobre 10', '2ª Lista',
       'Sobre 10.1', '3ª Lista', 'Sobre 10.2', '4ª Lista', 'Sobre 10.3',
       '5ª Lista', 'Sobre 10.4', '6ª Lista', 'Sobre 10.5', '7ª Lista',
       'Sobre 10.6', '8ª Lista', 'Sobre 10.7', '9ª Lista', 'Sobre 10.8',
       '10ª Lista', 'Sobre 10.9', '11ª Lista', 'Sobre 10.10', '12ª Lista',
       'Sobre 10.11', '13ª Lista', 'Sobre 10.12', '14ª Lista', 'Sobre 10.13',
       '15ª Lista', 'Sobre 10.14', '16ª Lista', 'Sobre 10.15', '17ª Lista',
       'Sobre 10.16', '18ª Lista', 'Sobre 10.17', '19ª lista', 'Sobre 10.18',
       '20ª lista', 'Sobre 10.19'],
      dtype='object')

In [9]:
df_2021_2022.head()

,Universidad,Fecha de última admisión,Situación según \nDefensores Universitarios / Secretarías,Nota de corte actual,1ª Lista,Sobre 10,2ª Lista,Sobre 10.1,3ª Lista,Sobre 10.2,...,19ª Lista,Sobre 10.18,20ª Lista,Sobre 10.19,21ª Lista,Sobre 10.20,22ª Lista,Sobre 10.21,23ª Lista,Sobre 10.22
0,Universidad Complutense de Madrid,29/09/2021,285 matriculados / 295 plazas (25-oct.),"13,426","13,500","9,643","13,455","9,611","13,446","9,604",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Sevilla,24/09/2021,290 matriculados / 291 plazas (14-dic.),"13,345","13,530","9,664","13,445","9,604","13,400","9,571",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad de Murcia,17/09/2021,214 matriculados / 200 plazas (15-oct.),"13,345","13,558","9,684","13,492","9,637","13,449","9,606",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Granada,24/09/2021,256 matriculados / 253 plazas (20-oct.),"13,319","13,580","9,700","13,494","9,639","13,450","9,607",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U. Autónoma de Madrid,28/10/2021,240 matriculados / 240 plazas,"13,309","13,463","9,616","13,407","9,576","13,350","9,536",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
def delete_columns_Sobre(df):
    df = df[df.columns.drop(list(df.filter(regex='Sobre')))]
    return df.head()

In [11]:
i = 0
for i in list_of_dfs:
    list_of_dfs(i) = delete_columns_Sobre(list_of_dfs[i])
    i += 1

SyntaxError: cannot assign to function call (2539223074.py, line 3)

In [14]:
delete_columns_Sobre(df_2010_2011)

,Notas de corte de Medicina,Última fecha de admisión \n(Fecha de la nota final),Nota de corte final de Medicina,1ª Lista,2ª Lista,3ª Lista,4ª Lista,5ª Lista,6ª Lista,7ª Lista,...,11ª Lista,12ª Lista,13ª Lista,14ª Lista,15ª Lista,16ª Lista,17ª Lista,18ª Lista,19ª lista,20ª lista
0,Universidad de Lérida,8/11/2010,"11,04","11,654","11,296","11,249","11,21","11,04",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Gerona,8/11/2010,"11,07","11,61","11,305","11,259","11,22","11,07",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","11,975","11,88","11,767","11,713","11,651","11,6",...,"11,276","11,24","11,227","11,222","11,216","11,211","11,203","11,203","11,196","11,19"
4,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","11,34","11,304","11,304","11,195",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_2010_2011

,Notas de corte de Medicina,Última fecha de admisión \n(Fecha de la nota final),Nota de corte final de Medicina,1ª Lista,Sobre 10,2ª Lista,Sobre 10.1,3ª Lista,Sobre 10.2,4ª Lista,...,16ª Lista,Sobre 10.15,17ª Lista,Sobre 10.16,18ª Lista,Sobre 10.17,19ª lista,Sobre 10.18,20ª lista,Sobre 10.19
0,Universidad de Lérida,8/11/2010,"11,04","11,654","8,324","11,296","8,069","11,249","8,035","11,21",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Gerona,8/11/2010,"11,07","11,61","8,293","11,305","8,075","11,259","8,042","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","8,363","11,334","8,096","11,33","8,093","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","8,614","11,975","8,554","11,88","8,486","11,767",...,"11,211","8,008","11,203","8,002","11,203","8,002","11,196","7,997","11,19","7,993"
4,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","8,279","11,34","8,1","11,304","8,074","11,304",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Universidad de Valladolid,15/11/2010,"11,204","12,29","8,779","11,996","8,569","11,768","8,406","11,504",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Universidad de Cantabria (Santander),29/10/2010,"11,212","12,592","8,994","12,34","8,814","12,17","8,693","12,035",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Universidad de Santiago de Compostela,19/10/2010,"11,23","11,8","8,429","11,578","8,27","11,47","8,193","11,41",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Universidad de Extremadura (Badajoz),20/10/2010,"11,236","12,5","8,929","12,21","8,721","12,05","8,607","11,975",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Universidad de Cádiz,6/11/2010,"11,286","12,12","8,657","11,975","8,554","11,757","8,398","11,552",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Universidad Pompeu Fabra (Barcelona),1/10/2010,"11,328","11,976","8,554","11,536","8,24","11,5","8,214","11,328",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Universidad de Barcelona,1/10/2010,"11,35","12,04","8,6","11,631","8,308","11,524","8,231","11,35",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Universidad de Salamanca,20/10/2010,"11,37","12,564","8,974","12,23","8,736","12,106","8,647","11,672",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Universidad de Zaragoza - Campus de Zaragoza,24/11/2010 (Actualizada 12/1/11),"11,39","12,185","8,704","11,966","8,547","11,9","8,5","11,824",...,"11,436","8,169","11,43","8,164","11,415","8,153","11,394","8,139","11,39","8,136"
14,Universidad de CLM- Campus de Ciudad Real,18/10/2010,"11,478","12,343","8,816","11,971","8,551","11,885","8,489","11,478",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Universidad de Córdoba,6/11/2010,"11,496","12,295","8,782","12,136","8,669","11,841","8,458","11,623",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Universidad del País Vasco (Lejona),24/07/2010,"11,503","11,922","8,516","11,726","8,376","11,503","8,216","11,503",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Universidad de CLM- Campus de Albacete,3/11/2010,"11,53","12,246","8,747","12,082","8,63",12,"8,571","11,53",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Universidad de Sevilla,23/10/2020,"11,559","12,272","8,766","12,075","8,625","11,848","8,343","11,692",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Universidad Miguel Hernández (San Juan de Alic...,15/10/2010,"11,584","12,216","8,726","11,972","8,551","11,584","8,274",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Universidad de Alcalá,3/11/2010,"11,631","11,862","8,473","11,862","8,473","11,79","8,421","11,77",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Universidad de Málaga,2/10/2010,"11,645","12,225","8,732","12,05","8,607","11,84","8,457","11,73",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Universidad de Murcia,3/11/2010,"11,666","12,388","8,849","12,19","8,707","11,89","8,493","11,758",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Universidad de La Laguna,Dato 11/10 13.00h,"11,68","12,2","8,714","12,1","8,643",12,"8,571","11,9",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Universidad Rey Juan Carlos - Campus de Alcorcón,Dato 31/10 11.46h,"11,7","11,867","8,476","11,807","8,433","11,7","8,357",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Universidad de Valencia,4/10/2010,"11,732","12,247","8,748","12,049","8,606","11,992","8,566","11,936",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Universidad Autónoma de Madrid,Dato 22/10 (Tablón de la facultad),"11,84","12,036","8,597","11,956","8,54","11,84","8,457",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Universidad de Las Palmas,29/09/2010,"11,849","12,312","8,794","12,074","8,624","11,979","8,556","11,849",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Universidad de Granada,18/09/2010,"11,959","12,503","8,931","12,392","8,851","12,095","8,639","11,959",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Universidad Complutense de Madrid,Dato 2/11 (Envío de carta de admisión),"12,022","12,189","8,706","12,15","8,679","12,06","8,614",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Universidad de Oviedo,27/10/2010,"12,088","12,579","8,985","12,418","8,87","12,293","8,781","12,243",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Sobre la Universidad de Santiago:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"** Publicada nota de 11,257 en la CiuG, el 7/9/10","Y RECTIFICADA POR 11,410; 8/9/10",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN