In [1]:
import pandas as pd
import numpy as np

In [2]:
# series temporales: poder predictivo poco
# hacer streamlit: visualization potente 

# ideas: 
# feature engineering, crear campos: año de convocatoria, diff entre 1a lista y nota final, porcentaje de bajada, ciudad, comunidad, 
# numero de listas o convocatorias que han habido por universidad, diferencia de notas entre años

# limpieza: quitar columnas de sobre 10, concatenar todas las particiones de años, nombres de universidades, columnas, asegurar fechas correctas, 
# todas las notas con el mismo numero de decimales

# modelo: predecir la nota (a través de un rango, con una tolerancia que defina) para el año 2022-2023 estudiando los datos de años anteriores. 
# Predecir también la probabilidad de que entres en una universidad u otra en funcion de la nota que hayas sacado en una convocatoria anterior
# adicionalmente, tener en cuenta que la metodologia del examen cambió por el COVID

# visualizacion: mapa geografico de españa, con un mapa de calor por la probabilidad o por la nota mas alta y mas baja
# visualizacion de datos historicos a traves de un grafico de linea
# crecimiento con los años
# front end que se pueda filtrar por universidad, convocatoria o nota final,

In [3]:
# input data from different years

df_2010_2011 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2010_2011 - Hoja 1.csv')
df_2011_2012 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2011_2012 - Hoja 1.csv')
df_2012_2013 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2012_2013 - Hoja 1.csv')
df_2013_2014 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2013_2014 - Hoja 1.csv')
df_2014_2015 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2014_2015 - Hoja 1.csv')
df_2015_2016 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2015_2016 - Hoja 1.csv')
df_2016_2017 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2016_2017 - Hoja 1.csv')
df_2017_2018 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2017_2018 - Hoja 1.csv')
df_2018_2019 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2018_2019 - Hoja 1.csv')
df_2019_2020 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2019_2020 - Hoja 1.csv')
df_2020_2021 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2020_2021 - Hoja 1.csv')
df_2021_2022 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2021_2022 - Hoja 1.csv')

In [4]:
list_of_dfs = [df_2010_2011, df_2011_2012, df_2012_2013, df_2013_2014, df_2014_2015, df_2015_2016, df_2016_2017, df_2017_2018, df_2018_2019, df_2019_2020, df_2020_2021, df_2021_2022]
num_years = len(list_of_dfs)

In [5]:
i = 0
total_number_of_rows = 0
while i < num_years:
    total_number_of_rows = total_number_of_rows + len(list_of_dfs[i])
    i += 1

total_number_of_rows

421

In [6]:
df_2010_2011.head()

,Notas de corte de Medicina,Última fecha de admisión \n(Fecha de la nota final),Nota de corte final de Medicina,1ª Lista,Sobre 10,2ª Lista,Sobre 10.1,3ª Lista,Sobre 10.2,4ª Lista,...,16ª Lista,Sobre 10.15,17ª Lista,Sobre 10.16,18ª Lista,Sobre 10.17,19ª lista,Sobre 10.18,20ª lista,Sobre 10.19
0,Universidad de Lérida,8/11/2010,"11,04","11,654","8,324","11,296","8,069","11,249","8,035","11,21",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Gerona,8/11/2010,"11,07","11,61","8,293","11,305","8,075","11,259","8,042","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","8,363","11,334","8,096","11,33","8,093","11,22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","8,614","11,975","8,554","11,88","8,486","11,767",...,"11,211","8,008","11,203","8,002","11,203","8,002","11,196","7,997","11,19","7,993"
4,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","8,279","11,34","8,1","11,304","8,074","11,304",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# before appending all dfs, we create a column with the year, to keep track of which df is coming from
year = 2010
i = 0
while i < num_years:
    list_of_dfs[i]['year'] = year + i
    i += 1

### Data Cleaning

In [8]:
dfs_unified = pd.DataFrame()

In [9]:
i=0
while i < num_years:
    dfs_unified = dfs_unified.append(list_of_dfs[i])
    i += 1

In [10]:
def delete_columns_Sobre(df):
    '''
    explicar
    '''
    df = df[df.columns.drop(list(df.filter(regex='Sobre')))]
    return df

In [11]:
dfs_unified = delete_columns_Sobre(dfs_unified)

In [12]:
dfs_unified.columns

Index(['Notas de corte de Medicina',
       'Última fecha de admisión \n(Fecha de la nota final)',
       'Nota de corte final de Medicina', '1ª Lista', '2ª Lista', '3ª Lista',
       '4ª Lista', '5ª Lista', '6ª Lista', '7ª Lista', '8ª Lista', '9ª Lista',
       '10ª Lista', '11ª Lista', '12ª Lista', '13ª Lista', '14ª Lista',
       '15ª Lista', '16ª Lista', '17ª Lista', '18ª Lista', '19ª lista',
       '20ª lista', 'year', 'Fecha de última admisión', 'Nota de corte final',
       'Facultad de Medicina', 'Nota de corte actual', '19ª Lista',
       '20ª Lista', '21ª Lista', '22ª Lista', '23ª Lista', 'Universidad',
       'Situación según \nDefensores Universitarios / Secretarías'],
      dtype='object')

In [13]:
def copy_data(new_col, old_col):
    '''
    explicar
    '''
    dfs_unified[new_col] = np.where(dfs_unified[old_col].notnull(), dfs_unified[old_col], dfs_unified[new_col])

In [14]:
dfs_unified['university'] = ''
copy_data('university', 'Notas de corte de Medicina')
copy_data('university', 'Universidad')
copy_data('university', 'Facultad de Medicina')

dfs_unified['date_last_admission'] = ''
copy_data('date_last_admission', 'Fecha de última admisión')
copy_data('date_last_admission', 'Última fecha de admisión \n(Fecha de la nota final)')

dfs_unified['final_grade'] = ''
copy_data('final_grade', 'Nota de corte final de Medicina')
copy_data('final_grade', 'Nota de corte final')
copy_data('final_grade', 'Nota de corte actual')

In [15]:
for i in range(1, 24):
    dfs_unified[str(i) + '_list'] = ''
    copy_data(str(i) + '_list', str(i) + 'ª Lista')

In [16]:
copy_data('19_list', '19ª lista')
copy_data('20_list', '20ª lista')

In [17]:
# drop all old columns
dfs_unified = dfs_unified.drop(['Notas de corte de Medicina',
       'Última fecha de admisión \n(Fecha de la nota final)',
       'Nota de corte final de Medicina', '1ª Lista', '2ª Lista', '3ª Lista',
       '4ª Lista', '5ª Lista', '6ª Lista', '7ª Lista', '8ª Lista', '9ª Lista',
       '10ª Lista', '11ª Lista', '12ª Lista', '13ª Lista', '14ª Lista',
       '15ª Lista', '16ª Lista', '17ª Lista', '18ª Lista', '19ª lista',
       '20ª lista', 'Fecha de última admisión', 'Nota de corte final',
       'Facultad de Medicina', 'Nota de corte actual', '19ª Lista',
       '20ª Lista', '21ª Lista', '22ª Lista', '23ª Lista', 'Universidad',
       'Situación según \nDefensores Universitarios / Secretarías'], axis=1)

In [18]:
dfs_unified = dfs_unified.reset_index()
dfs_unified

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,14_list,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list
0,0,2010,Universidad de Lérida,8/11/2010,"11,04","11,654","11,296","11,249","11,21","11,04",...,,,,,,,,,,
1,1,2010,Universidad de Gerona,8/11/2010,"11,07","11,61","11,305","11,259","11,22","11,07",...,,,,,,,,,,
2,2,2010,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",...,,,,,,,,,,
3,3,2010,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","11,975","11,88","11,767","11,713",...,"11,222","11,216","11,211","11,203","11,203","11,196","11,19",,,
4,4,2010,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","11,34","11,304","11,304","11,195",...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,33,2021,Universidad de Lérida,20/10/2021,"12,711","12,799","12,747","12,725","12,725","12,725",...,,,,,,,,,,
417,34,2021,Universidad Rovira i Virgili (Reus),03/11/2021,"12,708","12,852","12,750","12,750","12,750","12,746",...,,,,,,,,,,
418,35,2021,,,,,,,,,...,,,,,,,,,,
419,36,2021,Nota media,,"13,038","13,272","13,183","13,136","13,110","13,082",...,,,,,,,,,,
420,37,2021,Desviación típica,,"0,199","0,223","0,224","0,208","0,206","0,203",...,,,,,,,,,,

In [19]:
dfs_unified[~dfs_unified['university'].str.contains('U')]

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,14_list,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list
31,31,2010,,,,,,,,,...,,,,,,,,,,
33,33,2010,"** Publicada nota de 11,257 en la CiuG, el 7/9/10","Y RECTIFICADA POR 11,410; 8/9/10",,,,,,,...,,,,,,,,,,
98,32,2012,Nota promedio,,"12,017",,,,,,...,,,,,,,,,,
99,33,2012,Desviación típica,,"0,220",,,,,,...,,,,,,,,,,
132,32,2013,Nota promedio,,"12,082",,,,,,...,,,,,,,,,,
133,33,2013,Desviación típica,,"0,213",,,,,,...,,,,,,,,,,
166,32,2014,Nota promedio,,"12,268",,,,,,...,,,,,,,,,,
167,33,2014,Desviación típica,,"0,213",,,,,,...,,,,,,,,,,
200,32,2015,Nota promedio,,"12,422","12,605","12,517","12,480","12,455",,...,,,,,,,,,,
201,33,2015,Desviación típica,,"0,188","0,201","0,177","0,175","0,173",,...,,,,,,,,,,
202,34,2015,,,"0,184",,,,,,...,,,,,,,,,,
203,35,2015,,,"0,014",,,,,,...,,,,,,,,,,
237,33,2016,Nota promedio,,"12,449","12,712","12,591",,,,...,,,,,,,,,,
238,34,2016,Desviación típica,,"0,203","0,213","0,184",,,,...,,,,,,,,,,
272,33,2017,Nota promedio,,"12,460","12,748","12,625","12,573",,,...,,,,,,,,,,
273,34,2017,Desviación típica,,"0,238","0,218","0,191","0,188",,,...,,,,,,,,,,
307,33,2018,Nota promedio,,"12,504","12,752","12,639",,,,...,,,,,,,,,,
308,34,2018,Desviación típica,,"0,224","0,232","0,214",,,,...,,,,,,,,,,
343,34,2019,Nota promedio,,"12,561","12,779","12,664",,,,...,,,,,,,,,,
344,35,2019,Desviación típica,,"0,239","0,240","0,222",,,,...,,,,,,,,,,
380,35,2020,,,,,,,,,...,,,,,,,,,,
381,36,2020,Nota promedio,,"12,903","13,193",,,,,...,,,,,,,,,,
382,37,2020,Desviación típica,,"0,236","0,226",,,,,...,,,,,,,,,,
418,35,2021,,,,,,,,,...,,,,,,,,,,
419,36,2021,Nota media,,"13,038","13,272","13,183","13,136","13,110","13,082",...,,,,,,,,,,
420,37,2021,Desviación típica,,"0,199","0,223","0,224","0,208","0,206","0,203",...,,,,,,,,,,

In [20]:
dfs_unified = dfs_unified[dfs_unified['university'].str.contains('U')]

In [21]:
dfs_unified.shape

(395, 28)

In [22]:
dfs_unified.columns

Index(['index', 'year', 'university', 'date_last_admission', 'final_grade',
       '1_list', '2_list', '3_list', '4_list', '5_list', '6_list', '7_list',
       '8_list', '9_list', '10_list', '11_list', '12_list', '13_list',
       '14_list', '15_list', '16_list', '17_list', '18_list', '19_list',
       '20_list', '21_list', '22_list', '23_list'],
      dtype='object')

In [23]:
dfs_unified_columns = ['year', 'university', 'date_last_admission', 'final_grade',
       '1_list', '2_list', '3_list', '4_list', '5_list', '6_list', '7_list',
       '8_list', '9_list', '10_list', '11_list', '12_list', '13_list',
       '14_list', '15_list', '16_list', '17_list', '18_list', '19_list',
       '20_list', '21_list', '22_list', '23_list']

In [24]:
num_columns = len(dfs_unified_columns)

while i < num_columns:
    dfs_unified[dfs_unified_columns[i]].replace({'': np.nan}, inplace=True)
    i += 1

/usr/local/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [25]:
dfs_unified['university'].replace({'': np.nan}, inplace=True)

In [26]:
dfs_unified[dfs_unified['date_last_admission'].isnull()]

Empty DataFrame
Columns: [index, year, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list]
Index: []

[0 rows x 28 columns]

In [27]:
dfs_unified[dfs_unified['1_list'].isnull()]

Empty DataFrame
Columns: [index, year, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list]
Index: []

[0 rows x 28 columns]

In [28]:
dfs_unified[dfs_unified['final_grade'].isnull()]

Empty DataFrame
Columns: [index, year, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list]
Index: []

[0 rows x 28 columns]

In [29]:
dfs_unified[dfs_unified['university'].isnull()]

Empty DataFrame
Columns: [index, year, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list]
Index: []

[0 rows x 28 columns]

In [30]:
dfs_unified['year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021])

In [31]:
# creat city column

In [32]:
dfs_unified[dfs_unified['year'] == 2021]['university'].values

array(['Universidad Complutense de Madrid', 'Universidad de Sevilla',
       'Universidad de Murcia', 'Universidad de Granada',
       'U. Autónoma de Madrid', 'Universidad de Málaga',
       'Universidad de Córdoba', 'Universidad de Cádiz',
       'U. Miguel Hernández (S. Juan de Alicante)',
       'U. de C-La Mancha (Campus C.Real)', 'Universidad de Alcalá',
       'Universidad de Valladolid', 'URJC - Campus Alcorcón',
       'U. de C-La Mancha (Campus Albacete)',
       'U. de Extremadura (Badajoz)', 'Universidad Pública de Navarra',
       'Universidad de Valencia', 'Universidad Jaume I',
       'U. de Zaragoza (Campus Zaragoza)',
       'Universidad de Barcelona-Clínico', 'Universidad de La Laguna',
       'Universidad de Las Palmas', 'Universidad de Salamanca',
       'U. de Zaragoza (Campus Huesca)', 'U. de Santiago de Compostela',
       'Universidad de Oviedo', 'U. de Cantabria (Santander)',
       'Universidad de Barcelona-Bellvitge',
       'Universidad del País Vasco (Lejona)',
       'Universidad de las Islas Baleares', 'U. Pompeu Fabra (Barcelona)',
       'Universidad Autónoma de Barcelona', 'Universidad de Gerona',
       'Universidad de Lérida', 'Universidad Rovira i Virgili (Reus)'],
      dtype=object)

In [50]:
# first: bigger cities in case two names appear
list_of_cities = ['madrid', 'zaragoza', 'barcelona', 'sevilla', 'valencia', 'murcia', 'granada','málaga', 'córdoba', 'cádiz', 'alicante', 'albacete', \
    'valladolid', 'badajoz', 'gerona', 'lérida', 'reus', 'navarra', 'santander', 'oviedo', \
    'santiago de compostela', 'salamanca', 'país vasco', 'salamanca', 'navarra', 'las palmas', 'la laguna', 'alcalá', 'ciudad real', 'huesca']

In [51]:
num_cities = len(list_of_cities)

In [52]:
i=0
dfs_unified['city'] = ''
while i < num_cities:
    dfs_unified['city'] = np.where(dfs_unified['university'].str.contains(list_of_cities[i]), list_of_cities[i], dfs_unified['city'])
    i +=1

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/2295477350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['city'] = ''
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/2295477350.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['city'] = np.where(dfs_unified['university'].str.contains(list_of_cities[i]), list_of_cities[i], dfs_unified['city'])

In [53]:
dfs_unified

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city,analyze_name
0,0,2010,universidad de lérida,8/11/2010,"11,04","11,654","11,296","11,249","11,21","11,04",...,,,,,NaN,NaN,NaN,NaN,lérida,nan
1,1,2010,universidad de gerona,8/11/2010,"11,07","11,61","11,305","11,259","11,22","11,07",...,,,,,NaN,NaN,NaN,NaN,gerona,nan
2,2,2010,universidad rovira i virgili (reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",...,,,,,NaN,NaN,NaN,NaN,reus,nan
3,3,2010,universidad de zaragoza - campus de huesca,7/12/2010,"11,19","12,059","11,975","11,88","11,767","11,713",...,"11,211","11,203","11,203","11,196","11,19",NaN,NaN,NaN,huesca,nan
4,4,2010,universidad autónoma de barcelona,8/11/2010,"11,195","11,59","11,34","11,304","11,304","11,195",...,,,,,NaN,NaN,NaN,NaN,barcelona,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,30,2021,u. pompeu fabra (barcelona),20/10/2021,"12,758","13,098","12,980","12,922","12,866","12,837",...,,,,,NaN,NaN,NaN,NaN,barcelona,nan
414,31,2021,universidad autónoma de barcelona,29/10/2021,"12,751","12,828","12,777","12,777","12,777","12,777",...,,,,,NaN,NaN,NaN,NaN,barcelona,nan
415,32,2021,universidad de gerona,26/07/2021,"12,717","12,774","12,717","12,717","12,717","12,717",...,,,,,NaN,NaN,NaN,NaN,gerona,nan
416,33,2021,universidad de lérida,20/10/2021,"12,711","12,799","12,747","12,725","12,725","12,725",...,,,,,NaN,NaN,NaN,NaN,lérida,nan
417,34,2021,universidad rovira i virgili (reus),03/11/2021,"12,708","12,852","12,750","12,750","12,750","12,746",...,,,,,NaN,NaN,NaN,NaN,reus,nan

In [54]:
dfs_unified['city'].replace({'': np.nan}, inplace=True)

/usr/local/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [55]:
dfs_unified[dfs_unified['city'].isnull()]

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city,analyze_name
24,24,2010,universidad rey juan carlos - campus de alcorcón,Dato 31/10 11.46h,"11,7","11,867","11,807","11,7",,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
32,32,2010,sobre la universidad de santiago:,,,,,,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
44,10,2011,universidad de jaume i,13/10/2011,"11,73","12,332","12,132","11,925","11,813","11,785",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
58,24,2011,universidad rey juan carlos - campus de alcorcón,13/09/2011,"12,064","12,143","12,064",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
78,12,2012,universidad jaume i,31-oct-2012,"11,944","12,44","12,016","12,014","11,999","11,974",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
83,17,2012,u. de c-la mancha (campus c.real),25-jul-2012,"12,068","12,458","12,068","12,068","12,068",,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
84,18,2012,urjc - campus alcorcón,5-oct-2012,"12,107","12,189","12,107",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
110,10,2013,universidad jaume i,11/10/2013,"11,931","12,334","12,215","12,078","12,028","12,016",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
116,16,2013,u. de c-la mancha (campus c.real),5/09/2013,"12,1","12,505","12,257","12,2","12,1",,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
120,20,2013,urjc - campus alcorcón,2/10/2013,"12,136","12,343","12,136",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
145,11,2014,universidad jaume i,3/11/2014,"12,118","12,422","12,32","12,248","12,225","12,215",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
146,12,2014,u. de c-la mancha (campus c.real),24/07/2014,"12,156","12,53","12,156","12,156",,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
148,14,2014,urjc - campus alcorcón,18/09/2014,"12,285","12,382","12,285",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
177,9,2015,universidad jaume i,8/10/2015,"12,32","12,574","12,471","12,4","12,381","12,369",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
183,15,2015,u. de c-la mancha (campus c.real),29/09/2015,"12,433","12,678","12,549","12,47","12,47","12,433",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
185,17,2015,urjc - campus alcorcón,26/09/2015,"12,455","12,536","12,455",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
205,1,2016,universidad de las islas baleares,29/09/2016,"12,144","12,534","12,398","12,344","12,287","12,232",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
216,12,2016,universidad jaume i,6/10/2016,"12,376","12,754","12,636","12,49","12,462","12,451",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
220,16,2016,urjc - campus alcorcón,17/10/2016,"12,451","12,620","12,451",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
222,18,2016,u. de c-la mancha (campus c.real),13/09/2016,"12,517","12,749","12,644","12,551","12,551","12,517",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
241,2,2017,universidad de las islas baleares,25/10/2017,"12,112","12,744","12,552","12,446","12,362","12,316",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
252,13,2017,u. de c-la mancha (campus c.real),3/11/2017,"12,365","12,745",s/datos,"12,550","12,365",,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
257,18,2017,universidad jaume i,13/10/2017,"12,464","12,780","12,656","12,592","12,557","12,538",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
265,26,2017,urjc - campus alcorcón,22/09/2017,"12,693","12,793","12,693",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
274,0,2018,universidad de las islas baleares,2/11/2018,"12,120","12,568","12,272","12,200","12,192","12,190",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
287,13,2018,u. de c-la mancha (campus c.real),6/11/2018,"12,410","12,818","12,700","12,657","12,567","12,546",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
297,23,2018,universidad jaume i,29/10/2018,"12,628","12,948","12,868","12,780","12,702","12,674",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
301,27,2018,urjc - campus alcorcón,27/07/2018,"12,746","12,792","12,746",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
312,3,2019,universidad de las islas baleares,26/10/2019,"12,209","12,622","12,396","12,327","12,310","12,302",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
317,8,2019,universidad jaume i,29/10/2019,"12,370","12,838","12,732","12,638","12,56","12,545",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
332,23,2019,u. de c-la mancha (campus c.real),23/07/2019,"12,679","12,870","12,679","12,679","12,679",,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
336,27,2019,urjc - campus alcorcón,29/07/2019,"12,794","12,884","12,794",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
353,8,2020,urjc - campus alcorcón,06/10/2020,"13,100","13,257","13,100",,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
357,12,2020,u. de c-la mancha (campus c.real),06/10/2020,"13,014","13,281","13,210","13,150","13,125","13,014",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
359,14,2020,universidad jaume i,26/10/2020,"12,962","13,256","13,213","13,152","13,102","13,055",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
375,30,2020,universidad de las islas baleares,09/11/2020,"12,636","13,106","12,947","12,908","12,900","12,891",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
392,9,2021,u. de c-la mancha (campus c.real),27/10/2021,"13,146","13,421","13,339","13,280","13,260","13,146",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
395,12,2021,urjc - campus alcorcón,02/11/2021,"13,119","13,350","13,217","13,119",,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan
400,17,2021,universidad jaume i,19/10/2021,"13,042","13,376","13,287","13,223","13,182","13,129",...,,,,,NaN,NaN,NaN,NaN,NaN,nan
412,29,2021,universidad de las islas baleares,25/10/2021,"12,760","13,225","13,078","13,006","12,960","12,928",...,,,,,NaN,NaN,NaN,NaN,NaN,nan

In [56]:
dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('alcorcón'), 'madrid', dfs_unified['city'])
dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('c.real'), 'ciudad real', dfs_unified['city'])
dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('jaume'), 'castellon de la plana', dfs_unified['city'])
dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('islas baleares'), 'palma de mallorca', dfs_unified['city'])

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/3873153408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('alcorcón'), 'madrid', dfs_unified['city'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/3873153408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('c.real'), 'ciudad real', dfs_unified['city'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/3873153408.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('jaume'), 'castellon de la plana', dfs_unified['city'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/3873153408.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('islas baleares'), 'palma de mallorca', dfs_unified['city'])

In [57]:
dfs_unified[dfs_unified['city'].isnull()]

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city,analyze_name
32,32,2010,sobre la universidad de santiago:,,,,,,,,...,,,,,NaN,NaN,NaN,NaN,NaN,nan

In [58]:
# university names
list_of_uni_names_2021 = ['universidad complutense de madrid', 'universidad de sevilla',
       'universidad de murcia', 'universidad de granada',
       'u. autónoma de madrid', 'universidad de málaga',
       'universidad de córdoba', 'universidad de cádiz',
       'u. miguel hernández (s. juan de alicante)',
       'u. de c-la mancha (campus c.real)', 'universidad de alcalá',
       'universidad de valladolid', 'urjc - campus alcorcón',
       'u. de c-la mancha (campus albacete)',
       'u. de extremadura (badajoz)', 'universidad pública de navarra',
       'universidad de valencia', 'universidad jaume i',
       'u. de zaragoza (campus zaragoza)',
       'universidad de barcelona-clínico', 'universidad de la laguna',
       'universidad de las palmas', 'universidad de salamanca',
       'u. de zaragoza (campus huesca)', 'u. de santiago de compostela',
       'universidad de oviedo', 'u. de cantabria (santander)',
       'universidad de barcelona-bellvitge',
       'universidad del país vasco (lejona)',
       'universidad de las islas baleares', 'u. pompeu fabra (barcelona)',
       'universidad autónoma de barcelona', 'universidad de gerona',
       'universidad de lérida', 'universidad rovira i virgili (reus)']

In [77]:
len(list_of_uni_names_2021)

35

In [70]:
i=0

dfs_unified['analyze_name'] = ''

while i < len(list_of_uni_names_2021):
    dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains(list_of_uni_names_2021[i]), dfs_unified['university'], dfs_unified['analyze_name'])
    i +=1

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/1792265534.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['analyze_name'] = ''
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/1792265534.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains(list_of_uni_names_2021[i]), dfs_unified['university'], dfs_unified['analyze_name'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/1792265534.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains(list_of_uni_names_2021[i]), dfs_unified['university'], dfs_unified['analyze_name'])

In [71]:
dfs_unified['analyze_name'].replace({'': np.nan}, inplace=True)

/usr/local/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [72]:
dfs_unified[dfs_unified['analyze_name'].isnull()]

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city,analyze_name
2,2,2010,universidad rovira i virgili (reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",...,,,,,NaN,NaN,NaN,NaN,reus,NaN
3,3,2010,universidad de zaragoza - campus de huesca,7/12/2010,"11,19","12,059","11,975","11,88","11,767","11,713",...,"11,211","11,203","11,203","11,196","11,19",NaN,NaN,NaN,huesca,NaN
6,6,2010,universidad de cantabria (santander),29/10/2010,"11,212","12,592","12,34","12,17","12,035","11,722",...,,,,,NaN,NaN,NaN,NaN,santander,NaN
7,7,2010,universidad de santiago de compostela,19/10/2010,"11,23","11,8","11,578","11,47","11,41","11,35",...,,,,,NaN,NaN,NaN,NaN,santiago de compostela,NaN
8,8,2010,universidad de extremadura (badajoz),20/10/2010,"11,236","12,5","12,21","12,05","11,975","11,332",...,,,,,NaN,NaN,NaN,NaN,badajoz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,23,2021,u. de zaragoza (campus huesca),23/11/2021,"12,937","13,215","13,070","13,046","13,028","13,017",...,,,,,NaN,NaN,NaN,NaN,huesca,NaN
409,26,2021,u. de cantabria (santander),13/10/2021,"12,902","13,278","13,133","13,099","13,020","12,968",...,,,,,NaN,NaN,NaN,NaN,santander,NaN
411,28,2021,universidad del país vasco (lejona),08/09/2021,"12,827","13,065","12,987","12,941","12,907","12,850",...,,,,,NaN,NaN,NaN,NaN,país vasco,NaN
413,30,2021,u. pompeu fabra (barcelona),20/10/2021,"12,758","13,098","12,980","12,922","12,866","12,837",...,,,,,NaN,NaN,NaN,NaN,barcelona,NaN
417,34,2021,universidad rovira i virgili (reus),03/11/2021,"12,708","12,852","12,750","12,750","12,750","12,746",...,,,,,NaN,NaN,NaN,NaN,reus,NaN

In [78]:
dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains('universidad de zaragoza - campus de huesca'), 'u. de zaragoza (campus huesca)', dfs_unified['analyze_name'])
dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains('u. de cantabria (santander)'), 'u. de cantabria (santander)', dfs_unified['analyze_name'])
dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains('u. pompeu fabra (barcelona)'), 'u. pompeu fabra (barcelona)', dfs_unified['analyze_name'])

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/707390932.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains('universidad de zaragoza - campus de huesca'), 'u. de zaragoza (campus huesca)', dfs_unified['analyze_name'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/707390932.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains('u. de cantabria (santander)'), 'u. de cantabria (santander)', dfs_unified['analyze_name'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/707390932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains('u. de cantabria (santander)'), 'u. de cantabria (santander)', dfs_unified['analyze_name'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/707390932.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains('u. pompeu fabra (barcelona)'), 'u. pompeu fabra (barcelona)', dfs_unified['analyze_name'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/707390932.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains('u. pompeu fabra (barcelona)'), 'u. pompeu fabra (barcelona)', dfs_unified['analyze_name'])

In [79]:
i = 0

while i < len(list_of_uni_names_2021):
    dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains(list_of_uni_names_2021[i]), dfs_unified['university'], dfs_unified['analyze_name'])
    i += 1

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/864247581.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains(list_of_uni_names_2021[i]), dfs_unified['university'], dfs_unified['analyze_name'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/864247581.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  dfs_unified['analyze_name'] = np.where(dfs_unified['university'].str.contains(list_of_uni_names_2021[i]), dfs_unified['university'], dfs_unified['analyze_name'])

In [80]:
dfs_unified

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city,analyze_name
0,0,2010,universidad de lérida,8/11/2010,"11,04","11,654","11,296","11,249","11,21","11,04",...,,,,,NaN,NaN,NaN,NaN,lérida,universidad de lérida
1,1,2010,universidad de gerona,8/11/2010,"11,07","11,61","11,305","11,259","11,22","11,07",...,,,,,NaN,NaN,NaN,NaN,gerona,universidad de gerona
2,2,2010,universidad rovira i virgili (reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",...,,,,,NaN,NaN,NaN,NaN,reus,NaN
3,3,2010,universidad de zaragoza - campus de huesca,7/12/2010,"11,19","12,059","11,975","11,88","11,767","11,713",...,"11,211","11,203","11,203","11,196","11,19",NaN,NaN,NaN,huesca,u. de zaragoza (campus huesca)
4,4,2010,universidad autónoma de barcelona,8/11/2010,"11,195","11,59","11,34","11,304","11,304","11,195",...,,,,,NaN,NaN,NaN,NaN,barcelona,universidad autónoma de barcelona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,30,2021,u. pompeu fabra (barcelona),20/10/2021,"12,758","13,098","12,980","12,922","12,866","12,837",...,,,,,NaN,NaN,NaN,NaN,barcelona,NaN
414,31,2021,universidad autónoma de barcelona,29/10/2021,"12,751","12,828","12,777","12,777","12,777","12,777",...,,,,,NaN,NaN,NaN,NaN,barcelona,universidad autónoma de barcelona
415,32,2021,universidad de gerona,26/07/2021,"12,717","12,774","12,717","12,717","12,717","12,717",...,,,,,NaN,NaN,NaN,NaN,gerona,universidad de gerona
416,33,2021,universidad de lérida,20/10/2021,"12,711","12,799","12,747","12,725","12,725","12,725",...,,,,,NaN,NaN,NaN,NaN,lérida,universidad de lérida
417,34,2021,universidad rovira i virgili (reus),03/11/2021,"12,708","12,852","12,750","12,750","12,750","12,746",...,,,,,NaN,NaN,NaN,NaN,reus,NaN

In [81]:
dfs_unified['analyze_name'].replace({'': np.nan}, inplace=True)
dfs_unified[dfs_unified['analyze_name'].isnull()]

/usr/local/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city,analyze_name
2,2,2010,universidad rovira i virgili (reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",...,,,,,NaN,NaN,NaN,NaN,reus,NaN
6,6,2010,universidad de cantabria (santander),29/10/2010,"11,212","12,592","12,34","12,17","12,035","11,722",...,,,,,NaN,NaN,NaN,NaN,santander,NaN
7,7,2010,universidad de santiago de compostela,19/10/2010,"11,23","11,8","11,578","11,47","11,41","11,35",...,,,,,NaN,NaN,NaN,NaN,santiago de compostela,NaN
8,8,2010,universidad de extremadura (badajoz),20/10/2010,"11,236","12,5","12,21","12,05","11,975","11,332",...,,,,,NaN,NaN,NaN,NaN,badajoz,NaN
10,10,2010,universidad pompeu fabra (barcelona),1/10/2010,"11,328","11,976","11,536","11,5","11,328","11,328",...,,,,,NaN,NaN,NaN,NaN,barcelona,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,23,2021,u. de zaragoza (campus huesca),23/11/2021,"12,937","13,215","13,070","13,046","13,028","13,017",...,,,,,NaN,NaN,NaN,NaN,huesca,NaN
409,26,2021,u. de cantabria (santander),13/10/2021,"12,902","13,278","13,133","13,099","13,020","12,968",...,,,,,NaN,NaN,NaN,NaN,santander,NaN
411,28,2021,universidad del país vasco (lejona),08/09/2021,"12,827","13,065","12,987","12,941","12,907","12,850",...,,,,,NaN,NaN,NaN,NaN,país vasco,NaN
413,30,2021,u. pompeu fabra (barcelona),20/10/2021,"12,758","13,098","12,980","12,922","12,866","12,837",...,,,,,NaN,NaN,NaN,NaN,barcelona,NaN
417,34,2021,universidad rovira i virgili (reus),03/11/2021,"12,708","12,852","12,750","12,750","12,750","12,746",...,,,,,NaN,NaN,NaN,NaN,reus,NaN

In [48]:
dfs_unified['university'] = np.where(dfs_unified['university'], dfs_unified['university'].str.lower(), dfs_unified['university'])

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_41119/2995342549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where(dfs_unified['university'], dfs_unified['university'].str.lower(), dfs_unified['university'])

In [49]:
dfs_unified['place'] = np.where(dfs_unified['university'].str.contains('universidad de'), dfs_unified['university'].str.strip().str[15:], dfs_unified['place'])
dfs_unified['place'] = np.where(dfs_unified['university'].str.contains('u. de'), dfs_unified['university'].str.strip().str[6:], dfs_unified['place'])

KeyError: 'place'

In [ ]:
dfs_unified['university'].str.split(' ')

0                              [universidad, de, lérida]
1                              [universidad, de, gerona]
2              [universidad, rovira, i, virgili, (reus)]
3      [universidad, de, zaragoza, -, campus, de, hue...
4                 [universidad, autónoma, de, barcelona]
                             ...
413                     [u., pompeu, fabra, (barcelona)]
414               [universidad, autónoma, de, barcelona]
415                            [universidad, de, gerona]
416                            [universidad, de, lérida]
417            [universidad, rovira, i, virgili, (reus)]
Name: university, Length: 394, dtype: object

In [ ]:
#dfs_unified[dfs_unified['year'] == 2021]

In [ ]:
u_de = dfs_unified[dfs_unified['university'].str.contains('u. de')]
dfs_unified['place'] = u_de['university'].str.strip().str[6:]

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_40322/58157420.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['place'] = u_de['university'].str.strip().str[6:]

In [ ]:
dfs_unified

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,year_university,place
0,0,2010,universidad de lérida,8/11/2010,"11,04","11,654","11,296","11,249","11,21","11,04",...,,,,,NaN,NaN,NaN,NaN,2010_Universidad de Lérida,NaN
1,1,2010,universidad de gerona,8/11/2010,"11,07","11,61","11,305","11,259","11,22","11,07",...,,,,,NaN,NaN,NaN,NaN,2010_Universidad de Gerona,NaN
2,2,2010,universidad rovira i virgili (reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",...,,,,,NaN,NaN,NaN,NaN,2010_Universidad Rovira i Virgili (Reus),NaN
3,3,2010,universidad de zaragoza - campus de huesca,7/12/2010,"11,19","12,059","11,975","11,88","11,767","11,713",...,"11,211","11,203","11,203","11,196","11,19",NaN,NaN,NaN,2010_Universidad de Zaragoza - Campus de Huesca,sidad de zaragoza - campus de huesca
4,4,2010,universidad autónoma de barcelona,8/11/2010,"11,195","11,59","11,34","11,304","11,304","11,195",...,,,,,NaN,NaN,NaN,NaN,2010_Universidad Autónoma de Barcelona,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,30,2021,u. pompeu fabra (barcelona),20/10/2021,"12,758","13,098","12,980","12,922","12,866","12,837",...,,,,,NaN,NaN,NaN,NaN,2021_U. Pompeu Fabra (Barcelona),NaN
414,31,2021,universidad autónoma de barcelona,29/10/2021,"12,751","12,828","12,777","12,777","12,777","12,777",...,,,,,NaN,NaN,NaN,NaN,2021_Universidad Autónoma de Barcelona,NaN
415,32,2021,universidad de gerona,26/07/2021,"12,717","12,774","12,717","12,717","12,717","12,717",...,,,,,NaN,NaN,NaN,NaN,2021_Universidad de Gerona,NaN
416,33,2021,universidad de lérida,20/10/2021,"12,711","12,799","12,747","12,725","12,725","12,725",...,,,,,NaN,NaN,NaN,NaN,2021_Universidad de Lérida,NaN
417,34,2021,universidad rovira i virgili (reus),03/11/2021,"12,708","12,852","12,750","12,750","12,750","12,746",...,,,,,NaN,NaN,NaN,NaN,2021_Universidad Rovira i Virgili (Reus),NaN

In [ ]:
dfs_unified[~dfs_unified['university'].str.contains('Un')]

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,year_university,place
70,4,2012,U. de Santiago de Compostela,10-oct-2012,"11,78","12,179","11,981","11,981","11,981","11,981",...,,,,,NaN,NaN,NaN,NaN,2012_U. de Santiago de Compostela,NaN
71,5,2012,U. de Zaragoza (Campus Huesca),21-dic-2012,"11,796","12,268","12,119","12,05","11,98","11,931",...,"11,811","11,803","11,796",,NaN,NaN,NaN,NaN,2012_U. de Zaragoza (Campus Huesca),NaN
73,7,2012,U. Pompeu Fabra (Barcelona),3-oct-2012,"11,808","12,242","12,033","11,935","11,846","11,808",...,,,,,NaN,NaN,NaN,NaN,2012_U. Pompeu Fabra (Barcelona),NaN
74,8,2012,U. de Cantabria (Santander),30-nov-2012,"11,81","12,504","12,318","12,23","12,165","12,04",...,,,,,NaN,NaN,NaN,NaN,2012_U. de Cantabria (Santander),NaN
77,11,2012,U. de Zaragoza (Campus Zaragoza),18-dic-2012,"11,906","12,376","12,167","12,101","12,018","11,989",...,"11,916","11,906","11,906",,NaN,NaN,NaN,NaN,2012_U. de Zaragoza (Campus Zaragoza),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,18,2021,U. de Zaragoza (Campus Zaragoza),19/11/2021,"13,031","13,299","13,096","13,096","13,096","13,096",...,,,,,NaN,NaN,NaN,NaN,2021_U. de Zaragoza (Campus Zaragoza),NaN
406,23,2021,U. de Zaragoza (Campus Huesca),23/11/2021,"12,937","13,215","13,070","13,046","13,028","13,017",...,,,,,NaN,NaN,NaN,NaN,2021_U. de Zaragoza (Campus Huesca),NaN
407,24,2021,U. de Santiago de Compostela,08/07/2021,"12,925","12,925","12,925","12,925","12,925","12,925",...,,,,,NaN,NaN,NaN,NaN,2021_U. de Santiago de Compostela,NaN
409,26,2021,U. de Cantabria (Santander),13/10/2021,"12,902","13,278","13,133","13,099","13,020","12,968",...,,,,,NaN,NaN,NaN,NaN,2021_U. de Cantabria (Santander),NaN
413,30,2021,U. Pompeu Fabra (Barcelona),20/10/2021,"12,758","13,098","12,980","12,922","12,866","12,837",...,,,,,NaN,NaN,NaN,NaN,2021_U. Pompeu Fabra (Barcelona),NaN

In [ ]:
dfs_unified['place']

In [ ]:
dfs_unified['city']

In [ ]:
dfs_unified['campus']

In [ ]:
dfs_unified['campus']

In [ ]:
# new university column
# university + city + campus

In [ ]:
dfs_unified

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,year_university
0,0,2010,Universidad de Lérida,8/11/2010,"11,04","11,654","11,296","11,249","11,21","11,04",...,,,,,,,,,,2010_Universidad de Lérida
1,1,2010,Universidad de Gerona,8/11/2010,"11,07","11,61","11,305","11,259","11,22","11,07",...,,,,,,,,,,2010_Universidad de Gerona
2,2,2010,Universidad Rovira i Virgili (Reus),8/11/2010,"11,142","11,708","11,334","11,33","11,22","11,142",...,,,,,,,,,,2010_Universidad Rovira i Virgili (Reus)
3,3,2010,Universidad de Zaragoza - Campus de Huesca,7/12/2010,"11,19","12,059","11,975","11,88","11,767","11,713",...,"11,216","11,211","11,203","11,203","11,196","11,19",,,,2010_Universidad de Zaragoza - Campus de Huesca
4,4,2010,Universidad Autónoma de Barcelona,8/11/2010,"11,195","11,59","11,34","11,304","11,304","11,195",...,,,,,,,,,,2010_Universidad Autónoma de Barcelona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,30,2021,U. Pompeu Fabra (Barcelona),20/10/2021,"12,758","13,098","12,980","12,922","12,866","12,837",...,,,,,,,,,,2021_U. Pompeu Fabra (Barcelona)
414,31,2021,Universidad Autónoma de Barcelona,29/10/2021,"12,751","12,828","12,777","12,777","12,777","12,777",...,,,,,,,,,,2021_Universidad Autónoma de Barcelona
415,32,2021,Universidad de Gerona,26/07/2021,"12,717","12,774","12,717","12,717","12,717","12,717",...,,,,,,,,,,2021_Universidad de Gerona
416,33,2021,Universidad de Lérida,20/10/2021,"12,711","12,799","12,747","12,725","12,725","12,725",...,,,,,,,,,,2021_Universidad de Lérida
417,34,2021,Universidad Rovira i Virgili (Reus),03/11/2021,"12,708","12,852","12,750","12,750","12,750","12,746",...,,,,,,,,,,2021_Universidad Rovira i Virgili (Reus)

In [ ]:
# nombres de universidades
# duplicados
# notas de mayor a menor

In [ ]:
dfs_unified[dfs_unified['university'] == 'Sobre la Universidad de Santiago:']

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,year_university
32,32,2010,Sobre la Universidad de Santiago:,,,,,,,,...,,,,,,,,,,2010_Sobre la Universidad de Santiago:

In [ ]:
# año-univeristy y ver cuales no aparecen en el año anterior
dfs_unified['year_university'] = (dfs_unified['year']).astype(str) + '_' + dfs_unified['university']

In [ ]:
uni_year_grouped = dfs_unified.groupby(['year'])['university'].count()
uni_year_grouped

year
2010    32
2011    32
2012    32
2013    32
2014    32
2015    32
2016    33
2017    33
2018    33
2019    34
2020    35
2021    35
Name: university, dtype: int64