In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# series temporales: poder predictivo poco
# hacer streamlit: visualization potente 

# ideas: 
# feature engineering, crear campos: año de convocatoria, diff entre 1a lista y nota final, porcentaje de bajada, ciudad, comunidad, 
# numero de listas o convocatorias que han habido por universidad, diferencia de notas entre años

# limpieza: quitar columnas de sobre 10, concatenar todas las particiones de años, nombres de universidades, columnas, asegurar fechas correctas, 
# todas las notas con el mismo numero de decimales

# modelo: predecir la nota (a través de un rango, con una tolerancia que defina) para el año 2022-2023 estudiando los datos de años anteriores. 
# Predecir también la probabilidad de que entres en una universidad u otra en funcion de la nota que hayas sacado en una convocatoria anterior
# adicionalmente, tener en cuenta que la metodologia del examen cambió por el COVID

# visualizacion: mapa geografico de españa, con un mapa de calor por la probabilidad o por la nota mas alta y mas baja
# visualizacion de datos historicos a traves de un grafico de linea
# crecimiento con los años
# front end que se pueda filtrar por universidad, convocatoria o nota final,

In [3]:
# input data from different years

df_2010_2011 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2010_2011 - Hoja 1.csv', decimal = ',')
df_2011_2012 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2011_2012 - Hoja 1.csv', decimal = ',')
df_2012_2013 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2012_2013 - Hoja 1.csv', decimal = ',')
df_2013_2014 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2013_2014 - Hoja 1.csv', decimal = ',')
df_2014_2015 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2014_2015 - Hoja 1.csv', decimal = ',')
df_2015_2016 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2015_2016 - Hoja 1.csv', decimal = ',')
df_2016_2017 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2016_2017 - Hoja 1.csv', decimal = ',')
df_2017_2018 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2017_2018 - Hoja 1.csv', decimal = ',')
df_2018_2019 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2018_2019 - Hoja 1.csv', decimal = ',')
df_2019_2020 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2019_2020 - Hoja 1.csv', decimal = ',')
df_2020_2021 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2020_2021 - Hoja 1.csv', decimal = ',')
df_2021_2022 = pd.read_csv('/Users/miguel/downloads/tfm_data/Notas de corte de Medicina 2021_2022 - Hoja 1.csv', decimal = ',')

In [4]:
list_of_dfs = [df_2010_2011, df_2011_2012, df_2012_2013, df_2013_2014, df_2014_2015, df_2015_2016, df_2016_2017, df_2017_2018, df_2018_2019, df_2019_2020, df_2020_2021, df_2021_2022]
num_years = len(list_of_dfs)

In [5]:
i = 0
total_number_of_rows = 0
while i < num_years:
    total_number_of_rows = total_number_of_rows + len(list_of_dfs[i])
    i += 1

total_number_of_rows

421

In [6]:
df_2010_2011.head()

,Notas de corte de Medicina,Última fecha de admisión \n(Fecha de la nota final),Nota de corte final de Medicina,1ª Lista,Sobre 10,2ª Lista,Sobre 10.1,3ª Lista,Sobre 10.2,4ª Lista,...,16ª Lista,Sobre 10.15,17ª Lista,Sobre 10.16,18ª Lista,Sobre 10.17,19ª lista,Sobre 10.18,20ª lista,Sobre 10.19
0,Universidad de Lérida,8/11/2010,11.040,11.654,8.324,11.296,8.069,11.249,8.035,11.210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universidad de Gerona,8/11/2010,11.070,11.610,8.293,11.305,8.075,11.259,8.042,11.220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Universidad Rovira i Virgili (Reus),8/11/2010,11.142,11.708,8.363,11.334,8.096,11.330,8.093,11.220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Universidad de Zaragoza - Campus de Huesca,7/12/2010,11.190,12.059,8.614,11.975,8.554,11.880,8.486,11.767,...,11.211,8.008,11.203,8.002,11.203,8.002,11.196,7.997,11.19,7.993
4,Universidad Autónoma de Barcelona,8/11/2010,11.195,11.590,8.279,11.340,8.100,11.304,8.074,11.304,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# before appending all dfs, we create a column with the year, to keep track of which df is coming from
year = 2010
i = 0
while i < num_years:
    list_of_dfs[i]['year'] = year + i
    i += 1

### Data Cleaning

In [8]:
dfs_unified = pd.DataFrame()

In [9]:
i=0
while i < num_years:
    dfs_unified = dfs_unified.append(list_of_dfs[i])
    i += 1

In [10]:
def delete_columns_Sobre(df):
    '''
    explicar
    '''
    df = df[df.columns.drop(list(df.filter(regex='Sobre')))]
    return df

In [11]:
dfs_unified = delete_columns_Sobre(dfs_unified)

In [12]:
dfs_unified.columns

Index(['Notas de corte de Medicina',
       'Última fecha de admisión \n(Fecha de la nota final)',
       'Nota de corte final de Medicina', '1ª Lista', '2ª Lista', '3ª Lista',
       '4ª Lista', '5ª Lista', '6ª Lista', '7ª Lista', '8ª Lista', '9ª Lista',
       '10ª Lista', '11ª Lista', '12ª Lista', '13ª Lista', '14ª Lista',
       '15ª Lista', '16ª Lista', '17ª Lista', '18ª Lista', '19ª lista',
       '20ª lista', 'year', 'Fecha de última admisión', 'Nota de corte final',
       'Facultad de Medicina', 'Nota de corte actual', '19ª Lista',
       '20ª Lista', '21ª Lista', '22ª Lista', '23ª Lista', 'Universidad',
       'Situación según \nDefensores Universitarios / Secretarías'],
      dtype='object')

In [13]:
def copy_data(new_col, old_col):
    '''
    explicar
    '''
    dfs_unified[new_col] = np.where(dfs_unified[old_col].notnull(), dfs_unified[old_col], dfs_unified[new_col])

In [14]:
dfs_unified['university'] = ''
copy_data('university', 'Notas de corte de Medicina')
copy_data('university', 'Universidad')
copy_data('university', 'Facultad de Medicina')

dfs_unified['date_last_admission'] = ''
copy_data('date_last_admission', 'Fecha de última admisión')
copy_data('date_last_admission', 'Última fecha de admisión \n(Fecha de la nota final)')

dfs_unified['final_grade'] = ''
copy_data('final_grade', 'Nota de corte final de Medicina')
copy_data('final_grade', 'Nota de corte final')
copy_data('final_grade', 'Nota de corte actual')

In [15]:
for i in range(1, 24):
    dfs_unified[str(i) + '_list'] = ''
    copy_data(str(i) + '_list', str(i) + 'ª Lista')

In [16]:
copy_data('19_list', '19ª lista')
copy_data('20_list', '20ª lista')

In [17]:
# drop all old columns
dfs_unified = dfs_unified.drop(['Notas de corte de Medicina',
       'Última fecha de admisión \n(Fecha de la nota final)',
       'Nota de corte final de Medicina', '1ª Lista', '2ª Lista', '3ª Lista',
       '4ª Lista', '5ª Lista', '6ª Lista', '7ª Lista', '8ª Lista', '9ª Lista',
       '10ª Lista', '11ª Lista', '12ª Lista', '13ª Lista', '14ª Lista',
       '15ª Lista', '16ª Lista', '17ª Lista', '18ª Lista', '19ª lista',
       '20ª lista', 'Fecha de última admisión', 'Nota de corte final',
       'Facultad de Medicina', 'Nota de corte actual', '19ª Lista',
       '20ª Lista', '21ª Lista', '22ª Lista', '23ª Lista', 'Universidad',
       'Situación según \nDefensores Universitarios / Secretarías'], axis=1)

In [18]:
dfs_unified = dfs_unified.reset_index()
dfs_unified

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,14_list,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list
0,0,2010,Universidad de Lérida,8/11/2010,11.04,11.654,11.296,11.249,11.21,11.04,...,,,,,,,,,,
1,1,2010,Universidad de Gerona,8/11/2010,11.07,11.61,11.305,11.259,11.22,11.07,...,,,,,,,,,,
2,2,2010,Universidad Rovira i Virgili (Reus),8/11/2010,11.142,11.708,11.334,11.33,11.22,11.142,...,,,,,,,,,,
3,3,2010,Universidad de Zaragoza - Campus de Huesca,7/12/2010,11.19,12.059,11.975,11.88,11.767,11.713,...,11.222,11.216,11.211,11.203,11.203,11.196,11.19,,,
4,4,2010,Universidad Autónoma de Barcelona,8/11/2010,11.195,11.59,11.34,11.304,11.304,11.195,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,33,2021,Universidad de Lérida,20/10/2021,12.711,12.799,12.747,12.725,12.725,12.725,...,,,,,,,,,,
417,34,2021,Universidad Rovira i Virgili (Reus),03/11/2021,12.708,12.852,12.75,12.75,12.75,12.746,...,,,,,,,,,,
418,35,2021,,,,,,,,,...,,,,,,,,,,
419,36,2021,Nota media,,13.038,13.272,13.183,13.136,13.11,13.082,...,,,,,,,,,,
420,37,2021,Desviación típica,,0.199,0.223,0.224,0.208,0.206,0.203,...,,,,,,,,,,

In [19]:
dfs_unified[~dfs_unified['university'].str.contains('U', na=False)]

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,14_list,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list
31,31,2010,,,,,,,,,...,,,,,,,,,,
33,33,2010,"** Publicada nota de 11,257 en la CiuG, el 7/9/10","Y RECTIFICADA POR 11,410; 8/9/10",,,,,,,...,,,,,,,,,,
98,32,2012,Nota promedio,,12.017,,,,,,...,,,,,,,,,,
99,33,2012,Desviación típica,,0.22,,,,,,...,,,,,,,,,,
132,32,2013,Nota promedio,,12.082,,,,,,...,,,,,,,,,,
133,33,2013,Desviación típica,,0.213,,,,,,...,,,,,,,,,,
166,32,2014,Nota promedio,,12.268,,,,,,...,,,,,,,,,,
167,33,2014,Desviación típica,,0.213,,,,,,...,,,,,,,,,,
200,32,2015,Nota promedio,,12.422,12.605,12.517,12.48,12.455,,...,,,,,,,,,,
201,33,2015,Desviación típica,,0.188,0.201,0.177,0.175,0.173,,...,,,,,,,,,,
202,34,2015,,,0.184,,,,,,...,,,,,,,,,,
203,35,2015,,,0.014,,,,,,...,,,,,,,,,,
237,33,2016,Nota promedio,,12.449,12.712,12.591,,,,...,,,,,,,,,,
238,34,2016,Desviación típica,,0.203,0.213,0.184,,,,...,,,,,,,,,,
272,33,2017,Nota promedio,,12.46,12.748,"12,625",12.573,,,...,,,,,,,,,,
273,34,2017,Desviación típica,,0.238,0.218,"0,191",0.188,,,...,,,,,,,,,,
307,33,2018,Nota promedio,,12.504,12.752,12.639,,,,...,,,,,,,,,,
308,34,2018,Desviación típica,,0.224,0.232,0.214,,,,...,,,,,,,,,,
343,34,2019,Nota promedio,,12.561,12.779,12.664,,,,...,,,,,,,,,,
344,35,2019,Desviación típica,,0.239,0.24,0.222,,,,...,,,,,,,,,,
380,35,2020,,,,,,,,,...,,,,,,,,,,
381,36,2020,Nota promedio,,12.903,13.193,,,,,...,,,,,,,,,,
382,37,2020,Desviación típica,,0.236,0.226,,,,,...,,,,,,,,,,
418,35,2021,,,,,,,,,...,,,,,,,,,,
419,36,2021,Nota media,,13.038,13.272,13.183,13.136,13.11,13.082,...,,,,,,,,,,
420,37,2021,Desviación típica,,0.199,0.223,0.224,0.208,0.206,0.203,...,,,,,,,,,,

In [20]:
dfs_unified = dfs_unified[dfs_unified['university'].str.contains('U', na=False)]

In [21]:
# algo pasa aqui

In [67]:
dfs_unified[dfs_unified['university'].str.contains('sobre la universidad de santiago:', na=False)]

Empty DataFrame
Columns: [index, year, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list, city]
Index: []

[0 rows x 29 columns]

In [24]:
dfs_unified = dfs_unified[~dfs_unified['university'].str.contains('sobre la universidad de santiago:', na=False)]

In [25]:
dfs_unified.shape

(395, 28)

In [26]:
dfs_unified.columns

Index(['index', 'year', 'university', 'date_last_admission', 'final_grade',
       '1_list', '2_list', '3_list', '4_list', '5_list', '6_list', '7_list',
       '8_list', '9_list', '10_list', '11_list', '12_list', '13_list',
       '14_list', '15_list', '16_list', '17_list', '18_list', '19_list',
       '20_list', '21_list', '22_list', '23_list'],
      dtype='object')

In [27]:
dfs_unified_columns = ['year', 'university', 'date_last_admission', 'final_grade',
       '1_list', '2_list', '3_list', '4_list', '5_list', '6_list', '7_list',
       '8_list', '9_list', '10_list', '11_list', '12_list', '13_list',
       '14_list', '15_list', '16_list', '17_list', '18_list', '19_list',
       '20_list', '21_list', '22_list', '23_list']

In [28]:
num_columns = len(dfs_unified_columns)

while i < num_columns:
    dfs_unified[dfs_unified_columns[i]].replace({'': np.nan}, inplace=True)
    i += 1

In [29]:
print(dfs_unified[dfs_unified['date_last_admission'].isnull()].shape)
print(dfs_unified[dfs_unified['1_list'].isnull()].shape)
print(dfs_unified[dfs_unified['final_grade'].isnull()].shape)
print(dfs_unified[dfs_unified['university'].isnull()].shape)

(0, 28)
(0, 28)
(0, 28)
(0, 28)

In [30]:
# creat city column - PASAR A MAS ABAJO

In [31]:
dfs_unified['university'] = dfs_unified['university'].str.lower()

In [32]:
dfs_unified[dfs_unified['year'] == 2021]['university'].values

array(['universidad complutense de madrid', 'universidad de sevilla',
       'universidad de murcia', 'universidad de granada',
       'u. autónoma de madrid', 'universidad de málaga',
       'universidad de córdoba', 'universidad de cádiz',
       'u. miguel hernández (s. juan de alicante)',
       'u. de c-la mancha (campus c.real)', 'universidad de alcalá',
       'universidad de valladolid', 'urjc - campus alcorcón',
       'u. de c-la mancha (campus albacete)',
       'u. de extremadura (badajoz)', 'universidad pública de navarra',
       'universidad de valencia', 'universidad jaume i',
       'u. de zaragoza (campus zaragoza)',
       'universidad de barcelona-clínico', 'universidad de la laguna',
       'universidad de las palmas', 'universidad de salamanca',
       'u. de zaragoza (campus huesca)', 'u. de santiago de compostela',
       'universidad de oviedo', 'u. de cantabria (santander)',
       'universidad de barcelona-bellvitge',
       'universidad del país vasco (lejona)',
       'universidad de las islas baleares', 'u. pompeu fabra (barcelona)',
       'universidad autónoma de barcelona', 'universidad de gerona',
       'universidad de lérida', 'universidad rovira i virgili (reus)'],
      dtype=object)

In [33]:
# first: bigger cities in case two names appear
list_of_cities = ['madrid', 'zaragoza', 'barcelona', 'sevilla', 'valencia', 'murcia', 'granada','málaga', 'córdoba', 'cádiz', 'alicante', 'albacete', \
    'valladolid', 'badajoz', 'gerona', 'lérida', 'reus', 'navarra', 'santander', 'oviedo', \
    'santiago de compostela', 'salamanca', 'país vasco', 'salamanca', 'navarra', 'las palmas', 'la laguna', 'alcalá', 'ciudad real', 'huesca']

In [34]:
num_cities = len(list_of_cities)

In [35]:
i=0
dfs_unified['city'] = ''
while i < num_cities:
    dfs_unified['city'] = np.where(dfs_unified['university'].str.contains(list_of_cities[i], na=False), list_of_cities[i], dfs_unified['city'])
    i +=1

In [36]:
dfs_unified

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city
0,0,2010,universidad de lérida,8/11/2010,11.04,11.654,11.296,11.249,11.21,11.04,...,,,,,,NaN,NaN,NaN,NaN,lérida
1,1,2010,universidad de gerona,8/11/2010,11.07,11.61,11.305,11.259,11.22,11.07,...,,,,,,NaN,NaN,NaN,NaN,gerona
2,2,2010,universidad rovira i virgili (reus),8/11/2010,11.142,11.708,11.334,11.33,11.22,11.142,...,,,,,,NaN,NaN,NaN,NaN,reus
3,3,2010,universidad de zaragoza - campus de huesca,7/12/2010,11.19,12.059,11.975,11.88,11.767,11.713,...,11.216,11.211,11.203,11.203,11.196,11.19,NaN,NaN,NaN,huesca
4,4,2010,universidad autónoma de barcelona,8/11/2010,11.195,11.59,11.34,11.304,11.304,11.195,...,,,,,,NaN,NaN,NaN,NaN,barcelona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,30,2021,u. pompeu fabra (barcelona),20/10/2021,12.758,13.098,12.98,12.922,12.866,12.837,...,,,,,,NaN,NaN,NaN,NaN,barcelona
414,31,2021,universidad autónoma de barcelona,29/10/2021,12.751,12.828,12.777,12.777,12.777,12.777,...,,,,,,NaN,NaN,NaN,NaN,barcelona
415,32,2021,universidad de gerona,26/07/2021,12.717,12.774,12.717,12.717,12.717,12.717,...,,,,,,NaN,NaN,NaN,NaN,gerona
416,33,2021,universidad de lérida,20/10/2021,12.711,12.799,12.747,12.725,12.725,12.725,...,,,,,,NaN,NaN,NaN,NaN,lérida
417,34,2021,universidad rovira i virgili (reus),03/11/2021,12.708,12.852,12.75,12.75,12.75,12.746,...,,,,,,NaN,NaN,NaN,NaN,reus

In [37]:
dfs_unified['city'].replace({'': np.nan}, inplace=True)

In [38]:
dfs_unified[dfs_unified['city'].isnull()]

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city
24,24,2010,universidad rey juan carlos - campus de alcorcón,Dato 31/10 11.46h,11.7,11.867,11.807,11.7,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
32,32,2010,sobre la universidad de santiago:,,,,,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
44,10,2011,universidad de jaume i,13/10/2011,11.73,12.332,12.132,11.925,11.813,11.785,...,,,,,,NaN,NaN,NaN,NaN,NaN
58,24,2011,universidad rey juan carlos - campus de alcorcón,13/09/2011,12.064,12.143,12.064,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
78,12,2012,universidad jaume i,31-oct-2012,11.944,12.44,12.016,12.014,11.999,11.974,...,,,,,,NaN,NaN,NaN,NaN,NaN
83,17,2012,u. de c-la mancha (campus c.real),25-jul-2012,12.068,12.458,12.068,12.068,12.068,,...,,,,,,NaN,NaN,NaN,NaN,NaN
84,18,2012,urjc - campus alcorcón,5-oct-2012,12.107,12.189,12.107,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
110,10,2013,universidad jaume i,11/10/2013,11.931,12.334,12.215,12.078,12.028,12.016,...,,,,,,NaN,NaN,NaN,NaN,NaN
116,16,2013,u. de c-la mancha (campus c.real),5/09/2013,12.1,12.505,12.257,12.2,12.1,,...,,,,,,NaN,NaN,NaN,NaN,NaN
120,20,2013,urjc - campus alcorcón,2/10/2013,12.136,12.343,12.136,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
145,11,2014,universidad jaume i,3/11/2014,12.118,12.422,12.32,12.248,12.225,12.215,...,,,,,,NaN,NaN,NaN,NaN,NaN
146,12,2014,u. de c-la mancha (campus c.real),24/07/2014,12.156,12.53,12.156,12.156,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
148,14,2014,urjc - campus alcorcón,18/09/2014,12.285,12.382,12.285,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
177,9,2015,universidad jaume i,8/10/2015,12.32,12.574,12.471,12.4,12.381,12.369,...,,,,,,NaN,NaN,NaN,NaN,NaN
183,15,2015,u. de c-la mancha (campus c.real),29/09/2015,12.433,12.678,12.549,12.47,12.47,12.433,...,,,,,,NaN,NaN,NaN,NaN,NaN
185,17,2015,urjc - campus alcorcón,26/09/2015,12.455,12.536,12.455,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
205,1,2016,universidad de las islas baleares,29/09/2016,12.144,12.534,12.398,12.344,12.287,12.232,...,,,,,,NaN,NaN,NaN,NaN,NaN
216,12,2016,universidad jaume i,6/10/2016,12.376,12.754,12.636,12.49,12.462,12.451,...,,,,,,NaN,NaN,NaN,NaN,NaN
220,16,2016,urjc - campus alcorcón,17/10/2016,12.451,12.62,12.451,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
222,18,2016,u. de c-la mancha (campus c.real),13/09/2016,12.517,12.749,12.644,12.551,12.551,12.517,...,,,,,,NaN,NaN,NaN,NaN,NaN
241,2,2017,universidad de las islas baleares,25/10/2017,12.112,12.744,"12,552",12.446,12.362,12.316,...,,,,,,NaN,NaN,NaN,NaN,NaN
252,13,2017,u. de c-la mancha (campus c.real),3/11/2017,12.365,12.745,s/datos,12.55,12.365,,...,,,,,,NaN,NaN,NaN,NaN,NaN
257,18,2017,universidad jaume i,13/10/2017,12.464,12.78,"12,656",12.592,12.557,12.538,...,,,,,,NaN,NaN,NaN,NaN,NaN
265,26,2017,urjc - campus alcorcón,22/09/2017,12.693,12.793,"12,693",,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
274,0,2018,universidad de las islas baleares,2/11/2018,12.12,12.568,12.272,12.2,12.192,12.19,...,,,,,,NaN,NaN,NaN,NaN,NaN
287,13,2018,u. de c-la mancha (campus c.real),6/11/2018,12.41,12.818,12.7,12.657,12.567,12.546,...,,,,,,NaN,NaN,NaN,NaN,NaN
297,23,2018,universidad jaume i,29/10/2018,12.628,12.948,12.868,12.78,12.702,12.674,...,,,,,,NaN,NaN,NaN,NaN,NaN
301,27,2018,urjc - campus alcorcón,27/07/2018,12.746,12.792,12.746,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
312,3,2019,universidad de las islas baleares,26/10/2019,12.209,12.622,12.396,12.327,12.31,12.302,...,,,,,,NaN,NaN,NaN,NaN,NaN
317,8,2019,universidad jaume i,29/10/2019,12.37,12.838,12.732,12.638,12.56,12.545,...,,,,,,NaN,NaN,NaN,NaN,NaN
332,23,2019,u. de c-la mancha (campus c.real),23/07/2019,12.679,12.87,12.679,12.679,12.679,,...,,,,,,NaN,NaN,NaN,NaN,NaN
336,27,2019,urjc - campus alcorcón,29/07/2019,12.794,12.884,12.794,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
353,8,2020,urjc - campus alcorcón,06/10/2020,13.1,13.257,13.1,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
357,12,2020,u. de c-la mancha (campus c.real),06/10/2020,13.014,13.281,13.21,13.15,13.125,13.014,...,,,,,,NaN,NaN,NaN,NaN,NaN
359,14,2020,universidad jaume i,26/10/2020,12.962,13.256,13.213,13.152,13.102,13.055,...,,,,,,NaN,NaN,NaN,NaN,NaN
375,30,2020,universidad de las islas baleares,09/11/2020,12.636,13.106,12.947,12.908,12.9,12.891,...,,,,,,NaN,NaN,NaN,NaN,NaN
392,9,2021,u. de c-la mancha (campus c.real),27/10/2021,13.146,13.421,13.339,13.28,13.26,13.146,...,,,,,,NaN,NaN,NaN,NaN,NaN
395,12,2021,urjc - campus alcorcón,02/11/2021,13.119,13.35,13.217,13.119,,,...,,,,,,NaN,NaN,NaN,NaN,NaN
400,17,2021,universidad jaume i,19/10/2021,13.042,13.376,13.287,13.223,13.182,13.129,...,,,,,,NaN,NaN,NaN,NaN,NaN
412,29,2021,universidad de las islas baleares,25/10/2021,12.76,13.225,13.078,13.006,12.96,12.928,...,,,,,,NaN,NaN,NaN,NaN,NaN

In [39]:
dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('alcorcón', na=False), 'madrid', dfs_unified['city'])
dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('c.real', na=False), 'ciudad real', dfs_unified['city'])
dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('jaume', na=False), 'castellon de la plana', dfs_unified['city'])
dfs_unified['city'] = np.where(dfs_unified['university'].str.contains('islas baleares', na=False), 'palma de mallorca', dfs_unified['city'])

In [40]:
dfs_unified[dfs_unified['city'].isnull()]

,index,year,university,date_last_admission,final_grade,1_list,2_list,3_list,4_list,5_list,...,15_list,16_list,17_list,18_list,19_list,20_list,21_list,22_list,23_list,city
32,32,2010,sobre la universidad de santiago:,,,,,,,,...,,,,,,NaN,NaN,NaN,NaN,NaN

In [41]:
# university names - COGER NOMBRES DE FORMA MAS BONITA, COMO POR EJEMPLO CONVIRTIENDO A LISTA LA COLUMNA
list_of_uni_names_2021 = ['universidad complutense de madrid', 'universidad de sevilla',
       'universidad de murcia', 'universidad de granada',
       'u. autónoma de madrid', 'universidad de málaga',
       'universidad de córdoba', 'universidad de cádiz',
       'u. miguel hernández (s. juan de alicante)',
       'u. de c-la mancha (campus c.real)', 'universidad de alcalá',
       'universidad de valladolid', 'urjc - campus alcorcón',
       'u. de c-la mancha (campus albacete)',
       'u. de extremadura (badajoz)', 'universidad pública de navarra',
       'universidad de valencia', 'universidad jaume i',
       'u. de zaragoza (campus zaragoza)',
       'universidad de barcelona-clínico', 'universidad de la laguna',
       'universidad de las palmas', 'universidad de salamanca',
       'u. de zaragoza (campus huesca)', 'u. de santiago de compostela',
       'universidad de oviedo', 'u. de cantabria (santander)',
       'universidad de barcelona-bellvitge',
       'universidad del país vasco (lejona)',
       'universidad de las islas baleares', 'u. pompeu fabra (barcelona)',
       'universidad autónoma de barcelona', 'universidad de gerona',
       'universidad de lérida', 'universidad rovira i virgili (reus)']

In [42]:
len(list_of_uni_names_2021)

35

In [43]:
dfs_unified = dfs_unified[~dfs_unified['university'].str.contains('sobre la universidad de santiago:', na=False)]

In [44]:
dfs_unified_list_uni = list(dfs_unified['university'].unique())

In [45]:
len(dfs_unified_list_uni)

48

In [46]:
list_not_matched = []

for i in dfs_unified_list_uni:
    if i not in list_of_uni_names_2021:
        list_not_matched.append(i)
    else:
        continue
len(list_not_matched)

13

In [47]:
list_not_matched

['universidad de zaragoza - campus de huesca',
 'universidad de cantabria (santander)',
 'universidad de santiago de compostela',
 'universidad de extremadura (badajoz)',
 'universidad pompeu fabra (barcelona)',
 'universidad de barcelona',
 'universidad de zaragoza - campus de zaragoza',
 'universidad de clm- campus de ciudad real',
 'universidad de clm- campus de albacete',
 'universidad miguel hernández (san juan de alicante)',
 'universidad rey juan carlos - campus de alcorcón',
 'universidad autónoma de madrid',
 'universidad de jaume i']

In [48]:
from difflib import SequenceMatcher

In [49]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [50]:
similar('mike', 'mikes')

0.8888888888888888

In [51]:
list_not_matched

['universidad de zaragoza - campus de huesca',
 'universidad de cantabria (santander)',
 'universidad de santiago de compostela',
 'universidad de extremadura (badajoz)',
 'universidad pompeu fabra (barcelona)',
 'universidad de barcelona',
 'universidad de zaragoza - campus de zaragoza',
 'universidad de clm- campus de ciudad real',
 'universidad de clm- campus de albacete',
 'universidad miguel hernández (san juan de alicante)',
 'universidad rey juan carlos - campus de alcorcón',
 'universidad autónoma de madrid',
 'universidad de jaume i']

In [52]:
df1 = pd.DataFrame({
    "not_matched_uni": list_not_matched
})

df2 = pd.DataFrame({
    "list_of_uni_names_2021": list_of_uni_names_2021
})

df3 = pd.MultiIndex.from_product(
    [df1["not_matched_uni"], df2["list_of_uni_names_2021"]], names=["not_matched_uni", "list_of_uni_names_2021"]
).to_frame(index=False)

In [53]:
df3

,not_matched_uni,list_of_uni_names_2021
0,universidad de zaragoza - campus de huesca,universidad complutense de madrid
1,universidad de zaragoza - campus de huesca,universidad de sevilla
2,universidad de zaragoza - campus de huesca,universidad de murcia
3,universidad de zaragoza - campus de huesca,universidad de granada
4,universidad de zaragoza - campus de huesca,u. autónoma de madrid
...,...,...
450,universidad de jaume i,u. pompeu fabra (barcelona)
451,universidad de jaume i,universidad autónoma de barcelona
452,universidad de jaume i,universidad de gerona
453,universidad de jaume i,universidad de lérida
454,universidad de jaume i,universidad rovira i virgili (reus)

In [54]:
df3['ratio'] = ''
i = 0
for i in range(0, len(df3['not_matched_uni'])):
    df3['ratio'][i] = similar(df3['not_matched_uni'][i], df3['list_of_uni_names_2021'][i])
    i += 1

In [55]:
df3

,not_matched_uni,list_of_uni_names_2021,ratio
0,universidad de zaragoza - campus de huesca,universidad complutense de madrid,0.586667
1,universidad de zaragoza - campus de huesca,universidad de sevilla,0.5
2,universidad de zaragoza - campus de huesca,universidad de murcia,0.507937
3,universidad de zaragoza - campus de huesca,universidad de granada,0.59375
4,universidad de zaragoza - campus de huesca,u. autónoma de madrid,0.31746
...,...,...,...
450,universidad de jaume i,u. pompeu fabra (barcelona),0.122449
451,universidad de jaume i,universidad autónoma de barcelona,0.618182
452,universidad de jaume i,universidad de gerona,0.744186
453,universidad de jaume i,universidad de lérida,0.744186
454,universidad de jaume i,universidad rovira i virgili (reus),0.526316

In [56]:
df3['not_matched_uni'].nunique()

13

In [57]:
df4 = df3.groupby('not_matched_uni')['ratio'].max().reset_index()
df4

                                      not_matched_uni     ratio
0                      universidad autónoma de madrid  0.825397
1                            universidad de barcelona  0.857143
2                universidad de cantabria (santander)  0.825397
3              universidad de clm- campus de albacete  0.676056
4           universidad de clm- campus de ciudad real  0.648649
5                universidad de extremadura (badajoz)  0.825397
6                              universidad de jaume i  0.926829
7               universidad de santiago de compostela  0.830769
8          universidad de zaragoza - campus de huesca  0.750000
9        universidad de zaragoza - campus de zaragoza  0.763158
10  universidad miguel hernández (san juan de alic...  0.847826
11               universidad pompeu fabra (barcelona)  0.825397
12   universidad rey juan carlos - campus de alcorcón  0.628571

In [58]:
df5 = pd.merge(df4,df3,on='not_matched_uni',how='left')
df5 = df5[df5['ratio_x'] == df5['ratio_y']]
df5

,not_matched_uni,ratio_x,list_of_uni_names_2021,ratio_y
31,universidad autónoma de madrid,0.825397,universidad autónoma de barcelona,0.825397
54,universidad de barcelona,0.857143,universidad de barcelona-clínico,0.857143
96,universidad de cantabria (santander),0.825397,u. de cantabria (santander),0.825397
134,universidad de clm- campus de albacete,0.676056,universidad de las islas baleares,0.676056
140,universidad de clm- campus de ciudad real,0.648649,universidad complutense de madrid,0.648649
189,universidad de extremadura (badajoz),0.825397,u. de extremadura (badajoz),0.825397
227,universidad de jaume i,0.926829,universidad jaume i,0.926829
269,universidad de santiago de compostela,0.830769,u. de santiago de compostela,0.830769
303,universidad de zaragoza - campus de huesca,0.750000,u. de zaragoza (campus huesca),0.75
333,universidad de zaragoza - campus de zaragoza,0.763158,u. de zaragoza (campus zaragoza),0.763158
358,universidad miguel hernández (san juan de alic...,0.847826,u. miguel hernández (s. juan de alicante),0.847826
415,universidad pompeu fabra (barcelona),0.825397,u. pompeu fabra (barcelona),0.825397
432,universidad rey juan carlos - campus de alcorcón,0.628571,urjc - campus alcorcón,0.628571

In [59]:
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de cantabria (santander)'), 'u. de cantabria (santander)', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de extremadura (badajoz)'), 'u. de extremadura (badajoz)', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de jaume i'), 'universidad jaume i', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de zaragoza - campus de huesca'), 'u. de zaragoza (campus huesca)', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de santiago de compostela'), 'u. de santiago de compostela', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de zaragoza - campus de zaragoza'), 'u. de zaragoza (campus zaragoza)', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad miguel hernández (san juan de alicante)'), 'u. miguel hernández (s. juan de alicante)', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad pompeu fabra (barcelona)'), 'u. pompeu fabra (barcelona)', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de santiago de compostela'), 'u. de santiago de compostela', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad rey juan carlos - campus de alcorcón'), 'urjc - campus alcorcón', dfs_unified['university'])


dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad autónoma de madrid'), 'urjc - campus alcorcón', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de barcelona'), 'urjc - campus alcorcón', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de clm- campus de albacete'), 'urjc - campus alcorcón', dfs_unified['university'])
dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de clm- campus de ciudad real'), 'urjc - campus alcorcón', dfs_unified['university'])

/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de cantabria (santander)'), 'u. de cantabria (santander)', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de extremadura (badajoz)'), 'u. de extremadura (badajoz)', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de jaume i'), 'universidad jaume i', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de zaragoza - campus de huesca'), 'u. de zaragoza (campus huesca)', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de santiago de compostela'), 'u. de santiago de compostela', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de zaragoza - campus de zaragoza'), 'u. de zaragoza (campus zaragoza)', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad miguel hernández (san juan de alicante)'), 'u. miguel hernández (s. juan de alicante)', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad pompeu fabra (barcelona)'), 'u. pompeu fabra (barcelona)', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de santiago de compostela'), 'u. de santiago de compostela', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad rey juan carlos - campus de alcorcón'), 'urjc - campus alcorcón', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad autónoma de madrid'), 'urjc - campus alcorcón', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de barcelona'), 'urjc - campus alcorcón', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de clm- campus de albacete'), 'urjc - campus alcorcón', dfs_unified['university'])
/var/folders/jn/w0r35k4x0dg_3cvcygm52fz40000gn/T/ipykernel_59831/2499209269.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs_unified['university'] = np.where((dfs_unified['university'] == 'universidad de clm- campus de ciudad real'), 'urjc - campus alcorcón', dfs_unified['university'])

In [60]:
dfs_unified_list_uni = list(dfs_unified['university'].unique())

list_not_matched = []

for i in dfs_unified_list_uni:
    if i not in list_of_uni_names_2021:
        list_not_matched.append(i)
    else:
        continue
len(list_not_matched)

0

In [61]:
dfs_unified['university'].nunique()

35

In [62]:
dfs_unified['final_grade'].unique()

array([11.04, 11.07, 11.142, 11.19, 11.195, 11.204, 11.212, 11.23, 11.236,
       11.286, 11.328, 11.35, 11.37, 11.39, 11.478, 11.496, 11.503, 11.53,
       11.559, 11.584, 11.631, 11.645, 11.666, 11.68, 11.7, 11.732, 11.84,
       11.849, 11.959, 12.022, 12.088, 11.26, 11.316, 11.346, 11.406,
       11.482, 11.587, 11.598, 11.632, 11.714, 11.725, 11.73, 11.758,
       11.79, 11.867, 11.921, 11.964, 11.977, 11.986, 11.987, 12.023,
       12.04, 12.064, 12.172, 12.195, 12.2, 12.204, 12.292, 12.354, 12.36,
       11.668, 11.672, 11.765, 11.78, 11.796, 11.8, 11.808, 11.81, 11.83,
       11.872, 11.906, 11.944, 11.95, 11.957, 12.01, 12.053, 12.068,
       12.107, 12.115, 12.131, 12.136, 12.178, 12.182, 12.196, 12.197,
       12.226, 12.29, 12.3, 12.449, 12.499, 11.752, 11.753, 11.851,
       11.852, 11.892, 11.9, 11.905, 11.912, 11.914, 11.931, 11.951,
       11.999, 12.028, 12.056, 12.089, 12.1, 12.103, 12.123, 12.146,
       12.17, 12.233, 12.258, 12.26, 12.307, 12.346, 12.429, 12.435,
       12.458, 12.516, 11.907, 11.919, 11.968, 12.032, 12.063, 12.09,
       12.102, 12.118, 12.156, 12.19, 12.285, 12.288, 12.304, 12.306,
       12.35, 12.356, 12.376, 12.389, 12.394, 12.408, 12.44, 12.466,
       12.473, 12.509, 12.558, 12.58, 12.615, 12.697, 12.101, 12.108,
       12.22, 12.234, 12.241, 12.32, 12.342, 12.364, 12.404, 12.424,
       12.433, 12.438, 12.455, 12.472, 12.482, 12.514, 12.569, 12.598,
       12.606, 12.642, 12.645, 12.651, 12.661, 12.669, 12.791, 12.124,
       12.144, 12.168, 12.164, 12.185, 12.236, 12.264, 12.278, 12.298,
       12.382, 12.392, 12.451, 12.501, 12.517, 12.525, 12.532, 12.55,
       12.584, 12.599, 12.603, 12.665, 12.684, 12.686, 12.772, 12.775,
       12.784, 12.786, 12.08, 12.11, 12.112, 12.14, 12.183, 12.202, 12.21,
       12.286, 12.301, 12.321, 12.331, 12.362, 12.365, 12.37, 12.422,
       12.45, 12.464, 12.483, 12.547, 12.623, 12.624, 12.631, 12.656,
       12.664, 12.693, 12.725, 12.743, 12.75, 12.819, 12.871, 12.96,
       12.12, 12.128, 12.13, 12.253, 12.324, 12.332, 12.34, 12.379,
       12.386, 12.396, 12.41, 12.456, 12.475, 12.491, 12.511, 12.555,
       12.605, 12.612, 12.625, 12.628, 12.671, 12.674, 12.723, 12.746,
       12.766, 12.811, 12.812, 12.936, 12.966, 12.18, 12.209, 12.355,
       12.361, 12.476, 12.487, 12.494, 12.498, 12.5, 12.59, 12.644,
       12.668, 12.679, 12.706, 12.709, 12.794, 12.845, 12.89, 12.904,
       12.918, 13.044, 13.056, 13.345, 13.304, 13.27, 13.256, 13.186,
       13.152, 13.134, 13.122, 13.1, 13.09, 13.076, 13.038, 13.014,
       12.991, 12.962, 12.951, 12.949, 12.902, 12.898, 12.85, 12.823,
       12.748, 12.735, 12.727, 12.719, 12.708, 12.66, 12.659, 12.636,
       12.549, 12.543, 13.426, 13.319, 13.309, 13.275, 13.25, 13.232,
       13.15, 13.146, 13.133, 13.121, 13.119, 13.107, 13.086, 13.074,
       13.042, 13.031, 13.022, 12.983, 12.952, 12.937, 12.925, 12.916,
       12.878, 12.827, 12.76, 12.758, 12.751, 12.717, 12.711],
      dtype=object)

In [63]:
dfs_unified[dfs_unified['final_grade'] == '']

Empty DataFrame
Columns: [index, year, university, date_last_admission, final_grade, 1_list, 2_list, 3_list, 4_list, 5_list, 6_list, 7_list, 8_list, 9_list, 10_list, 11_list, 12_list, 13_list, 14_list, 15_list, 16_list, 17_list, 18_list, 19_list, 20_list, 21_list, 22_list, 23_list, city]
Index: []

[0 rows x 29 columns]

In [64]:
# CONVERTIR TODOS LOS NUMEROS A FLOAT y limpiar alguna inconsistencia

In [65]:
# to convert to float, we can't have ',' or spaces, as this function '.astype(float)' will give back an error

In [ ]:
for i in range(1,24):
    try:
        dfs_unified[str(i) + '_list'] = dfs_unified[str(i) + '_list'].astype(float)
    except:
        dfs_unified[str(i) + '_list'] = np.where((dfs_unified[str(i) + '_list'].str.contains(',', na=False)), dfs_unified[str(i) + '_list'].replace({',': '.'}, inplace=True), dfs_unified[str(i) + '_list'])
        dfs_unified[str(i) + '_list'] = np.where((dfs_unified[str(i) + '_list'] == ''), dfs_unified[str(i) + '_list'].replace({'': np.nan}, inplace=True), dfs_unified[str(i) + '_list'])
        dfs_unified[str(i) + '_list'] = np.where((dfs_unified[str(i) + '_list'] == 's/datos'), dfs_unified[str(i) + '_list'].replace({'s/datos': np.nan}, inplace=True), dfs_unified[str(i) + '_list'])

In [ ]:
# Export data to be used on Tableau

In [ ]:
jj

In [ ]:
file_name = 'output/exported_data.csv'
dfs_unified.to_csv(file_name, index = False, header=True)

In [ ]:
# Data Visualization

In [ ]:
complutense = dfs_unified[dfs_unified['university'] == 'universidad complutense de madrid']
fig,ax=plt.subplots(figsize=(10,8))
ax.bar(complutense['year'], complutense['1_list'])
# Setting the x-axis to 1-10
# and y-axis to 1-15
plt.axis([2009, 2022, 11.00, 14.00])
plt.show()

In [ ]:
!pip install streamlit

In [ ]:
import streamlit as st

In [ ]:
st.title('My title')

In [ ]:
# end data visualization

In [ ]:
dfs_unified[dfs_unified['2_list'] == 's/datos']

In [ ]:
dfs_unified['2_list'].isnull().unique()

In [ ]:
dfs_unified['final_grade'].min()

In [ ]:
num_columns = len(dfs_unified_columns)

while i < num_columns:
    dfs_unified[dfs_unified_columns[i]].replace({'': np.nan}, inplace=True)
    i += 1

In [ ]:
dfs_unified['place'] = np.where(dfs_unified['university'].str.contains('universidad de', na=False), dfs_unified['university'].str.strip().str[15:], dfs_unified['place'])
dfs_unified['place'] = np.where(dfs_unified['university'].str.contains('u. de', na=False), dfs_unified['university'].str.strip().str[6:], dfs_unified['place'])

In [ ]:
dfs_unified['university'].str.split(' ')

In [ ]:
#dfs_unified[dfs_unified['year'] == 2021]

In [ ]:
u_de = dfs_unified[dfs_unified['university'].str.contains('u. de', na=False)]
dfs_unified['place'] = u_de['university'].str.strip().str[6:]

In [ ]:
dfs_unified

In [ ]:
dfs_unified[~dfs_unified['university'].str.contains('Un', na=False)]

In [ ]:
dfs_unified['place']

In [ ]:
dfs_unified['city']

In [ ]:
dfs_unified['campus']

In [ ]:
dfs_unified['campus']

In [ ]:
# new university column
# university + city + campus

In [ ]:
dfs_unified

In [ ]:
# nombres de universidades
# duplicados
# notas de mayor a menor

In [ ]:
dfs_unified[dfs_unified['university'] == 'Sobre la Universidad de Santiago:']

In [ ]:
# año-univeristy y ver cuales no aparecen en el año anterior
dfs_unified['year_university'] = (dfs_unified['year']).astype(str) + '_' + dfs_unified['university']

In [ ]:
uni_year_grouped = dfs_unified.groupby(['year'])['university'].count()
uni_year_grouped